
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 380px; 
    box-shadow: 0 4px 15px rgba(239, 85, 85, 0.2);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
.modal h3 {
    margin-bottom: 15px;
    text-align: center;
}

.modal input,
.modal textarea,
.modal select {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal textarea {
    resize: vertical; 
}

.modal button {
    background-color: #bf00af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.modal button:last-child {
    background-color: #9a9a9a; 
    margin-right: 0;
}

.modal button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.modal-content input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #bd59e4;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.modal-content ul{
    list-style: none;
}
.modal-content input[type="checkbox"]:checked {
    background-color: #a2c4f4;
    border-color: #8dc1f8;
}

.modal-content input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

/* Cambio de color al pasar el mouse */
.modal-content input[type="checkbox"]:hover {
    border-color: #0056b3;
}